<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false" backupGlobals="false" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Builder SQL Suite">
      <directory>./test</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">test</directory>
    </include>
  </source>
</phpunit>
